
<br>
<div class="container-fluid" >
    <div class="page-header">
        <h2>Novo Agendamento</h2>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3">



            <div class="container-fluid" >
                <div class="page-header">
                    <h2>Cadastro </h2>
                </div>




                <br>
                <div class="form-group">
                    <label class="labelx">Data:</label>

                    <div class="input-group">
                <span class="input-group-btn">
                <div class="btn-group dropup">

                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">

                        <span class="glyphicon glyphicon-calendar"
                              aria-hidden="true"></span>
                    </button>

                    <ul class="dropdown-menu"
                        ng-click="$event.preventDefault();$event.stopPropagation()"
                        style="min-width: 200px;">

                        <div date-picker="start"
                             max-view="month"
                             min-view="minutes"
                             class="ng-isolate-scope"
                             ng-model="curso.nome"></div>
                    </ul>

                </div>

            </span>

                        <input date-time
                               format="DD-MM-YY HH:mm"
                               ng-model="data"
                               ng-disabled="true"
                               ng-readonly="true"
                               class="form-control"
                               ng-required="true"
                               name="data">

                    </div>


                </div>
                <br>








                    <br>
                    <label>Ventilador:</label>

                    <input type="radio" ng-model="curso.ventilador" value="L">
                    Ligado

                    <input type="radio" ng-model="curso.ventilador" value="D">
                    Desligado

                    <br>

                    <label>Luz sala:</label>

                    <input type="radio" ng-model="curso.luzsala" value="L">
                    Ligado

                    <input type="radio" ng-model="curso.luzsala" value="D">
                    Desligado

                    <br>
                    <label>TV:</label>

                    <input type="radio" ng-model="curso.tv" value="L">
                    Ligado

                    <input type="radio" ng-model="curso.tv" value="D">
                    Desligado

                    <br>
                    <label>Luz quato:</label>

                    <input type="radio" ng-model="curso.luzquato" value="L">
                    Ligado

                    <input type="radio" ng-model="curso.luzquato" value="D">
                    Desligado

                    <br>
                    <br>
                    <button class="btn btn-sm btn-primary" ng-click="salvar(curso)">
                        <span class="glyphicon glyphicon-plus"></span>
                        Salvar
                    </button>
                </form>
            </div>

        <div class="col-lg-3"></div>
    </div>
</div>



