<br>
<div class="container-fluid">
    <div class="page-header">
        <h2>Agendamentos</h2>
    </div>


    <button class="btn btn-sm btn-primary" ng-click="irPara('/adicionaAgendamentos')">
        <span class="glyphicon glyphicon-plus"></span>
        Adicionar
    </button>


    <table class="table">
        <thead>
        <tr>

            <th>
                <label>Data</label>
            </th>

            <th>
                <label>Horário</label>
            </th>

            <th>
                <label>Ventilador</label>
            </th>

            <th>
                <label>Luz sala</label>
            </th>

            <th>
                <label>TV</label>
            </th>

            <th>
                <label>Luz Quarto</label>
            </th>
            <th>
                <label>Editar</label>
            </th>
            <th>
                <label>Excluir</label>

            </th>

        </tr>
        </thead>

        <tbody ng-repeat="tabela_anduino in arduino">
        <tr>

            <td>{{tabela_anduino.nome| date:"dd-MM-yyyy"}}</td>
            <td>{{tabela_anduino.nome|date:"HH-mm"}}</td>
            <td>{{tabela_anduino.ventilador}}</td>
            <td>{{tabela_anduino.luzsala}}</td>
            <td>{{tabela_anduino.tv}}</td>
            <td>{{tabela_anduino.luzquato}}</td>
            <td>
                <a href="#" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span> Editar
                </a>
            </td>
            <td>  <a href="#" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-remove"></span> Excluir
            </a>
            </td>
        </tr>
        </tbody>
    </table>


</div>
